<h2>Welcome to your cart, <%= current_user.first_name %></h2>

<div class="cart_item">

  <ul>
    <% if @cart %>
      <% @cart.each do |item| %>
        <h3><%=link_to "#{item.name}", product_path(item)%></h3>
        <li>Item Price: <%= number_to_currency(item.price, precision: 2) %></li>
        <li>Item Quantity: <%= item.multiplier %></li>
        <li>Total: <%= number_to_currency((item.price * item.multiplier)) %></li>
      <% end %>
    <% else %>
      <h3>Your Cart is empty, go add some brainfreeze!</h3>
    <% end %>
  </ul>

  <h4>Total Cost: <%= number_to_currency(@total_cost) %></h4>
  <h3><%=link_to "Check Out", new_charge_path %></h3>



</div>
