<!DOCTYPE html>
<html>
<head>
  <title>Brain Freeze Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%=image_tag("iceCreamLogo.png", class: 'logonav')%>
      <!-- <a class="navbar-brand" href="/">BrainFreeze!  Rare Icecreams</a> -->
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Brainfreeze Rare Ice Cream!', root_path %></li>
        <% if logged_in? %>
          <li><a href="#">Welcome, <%= current_user.first_name %></a></li>
          <li><%= link_to 'My Cart', display_cart_user_path(current_user) %></li>

        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Login',  login_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
</header>

<%= yield %>

</body>
</html>
